doctype html
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1.h1 Добрый день!
            p
                strong !{subject} !{vendorProperty} !{modelProperty} !{partnumberProperty} <br />
                | Дефект: !{problemProperty}
                | для отслеживание статуса  воспользуйтесь ссылкой https://api.arroway.cloud/search/!{otherProperty}
